.input-text-dark-readonly{
    width: 90%;
    background-color: transparent;
    background: transparent;
    border: 0 none;
    outline: none;
    color: white;
    resize: none;
    margin-top: 10px;
}

.input-readonly{
    width: 90%;
    background-color: transparent;
    background: transparent;
    color: black;
    border: 0 none;
    outline: none;
    resize: none;
    margin-top: 10px;
}